.header {
  height: 60px;
  display: flex;
  align-items: center;
}

.header__logo {
  width: 50px;
  object-fit: contain;
  margin: 0 10px;
}
.header__searchIcon {
  padding: 5px;
  height: 22px !important;
  color: orange;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
  border: 1px solid grey;
}
.right {
  display: flex;
}
.header__searchInput {
  height: 15px;
  padding: 10px;
  border: none;
  width: 90%;
  outline: none;
}

.header__searchIcon {
  padding: 5px;
  height: 22px !important;
}
.header__price {
  display: flex;
  padding: 15px;
  align-items: center;
  border-radius: 24px;
}
.header__partner {
  display: flex;
  padding: 15px;
  align-items: center;
  border-radius: 24px;
}
.header__language {
  display: flex;
  padding: 15px;
  align-items: center;
  border-radius: 24px;
}
.header__languageLogo {
  width: 30px;
}
.header__cart {
  display: flex;
  padding: 15px;
  align-items: center;
  border-radius: 24px;
}

.header__profile {
  display: flex;
  padding: 0px 30px 0px 15px;
  align-items: center;
}
.header__menudropdown {
  background-color: rgb(243, 243, 243);
  width: 250px;
}
.header__dropdown {
  display: block;
  text-decoration: none;
  outline: none;
  align-items: center;
  padding: 8px;
  color: rgb(129, 118, 106);
  font-size: 14px;
  font-weight: 900;
}
.header__dropdown:hover {
  background-color: rgba(161, 155, 148, 0.5);
  color: rgb(218, 88, 83);
}
.header__profileicon {
  float: left;
  width: 24px;
  background-color: rgb(221, 221, 221);
  border-radius: 50%;
}
.exit {
  color: red;
}
span {
  display: flex;
  flex: 1;
  padding-left: 20px;
}
